
@mixin flex($hasmargin) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @if $hasmargin == true {
        margin: 0 auto;
    }
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
.banner-home {
    width: 100%;
    height: 100vh;
    background: url(/source/pictures/Fundo-tela-inicial.png);
    font-family: "Montserrat", sans-serif;
    font-size: 17px;

    header {
        @include flex(true);
        width: 91.5%;
        height: 115px;
    }
    .navigation {
        width: 470px;
        line-height: 40px;
        @include flex(false);

        .item-navigation {
            color: $text-color;
            text-decoration: none;

            &:not(.item-navigation:last-child) {
                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .item-navigation:last-child {
            width: 155px;
            background-color: rgba($secundary-color, 1);
            text-align: center;
            border-radius: 50px;
            font-size: 16px;
        }
    }
}
